[Unit]
Description=POICA-CORE: POICA API Service
After=network-online.target

[Service]
Type=simple
ExecStart=zsh /home/ubuntu/paka-apps/POICA-CORE/run.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
