[Unit]
Description=POICA-CORE: POICA API Service
After=network-online.target

[Service]
Type=simple
ExecStart=node /home/ubuntu/paka-apps/POICA-CORE/app/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target